<h1>Exam12a - HTML/Bootstrap </h1>
<div class="row">
    <div class="col bg-danger p-1 m-4" style = "width: 50%; align-items: center; justify-content: center; display:flex;">
        <div class="inner-image bg-warning p-1">
            <img src="/images/cat.jpg" alt="dog" width="100%">
        </div>
    </div>
    <div class="col bg-danger p-1 m-4" style = "width: 50%; align-items: center; justify-content: center; display:flex;">
        <div class="inner-image bg-warning p-1">
            <img src="/images/cat.jpg" alt="dog" width="100%">
        </div>
    </div>
    <div class="col bg-danger p-1 m-4" style = "width: 50%; align-items: center; justify-content: center; display:flex;">
        <div class="inner-image bg-warning p-1">
            <img src="/images/cat.jpg" alt="dog" width="100%">
        </div>
    </div>
    <div class="col bg-danger p-1 m-4" style = "width: 50%; align-items: center; justify-content: center; display:flex;">
        <div class="inner-image bg-warning p-1">
            <img src="/images/cat.jpg" alt="dog" width="100%">
        </div>
    </div>
</div>
<div class= "mx-auto m-4 p-1 bg-primary" style = "width: 40%; display: flex; justify-content: center; align-items: center;">
    <div class="p-3 bg-warning" style = " width: 100%; display: flex; justify-content: center; align-items: center;">
        <form method="post">
            Enter your pet's name: <input type="text" name="petname" placeholder="Pet's name"><br>
            Pet's sex: 
                <select name = "sex">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            <br>
            Pet's birthday <input type="date" name="bday"><br>
            <input class="btn btn btn-primary mt-2" type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="row">
    <div class="col bg-danger p-1 m-4" style = "width: 50%; align-items: center; justify-content: center; display:flex;">
        <div class="inner-image bg-warning p-1">
            <img src="/images/dog.jpg" alt="dog" width="100%">
        </div>
    </div>
    <div class="col bg-danger p-1 m-4" style = "width: 50%; align-items: center; justify-content: center; display:flex;">
        <div class="inner-image bg-warning p-1">
            <img src="/images/dog.jpg" alt="dog" width="100%">
        </div>
    </div>
    <div class="col bg-danger p-1 m-4" style = "width: 50%; align-items: center; justify-content: center; display:flex;">
        <div class="inner-image bg-warning p-1">
            <img src="/images/dog.jpg" alt="dog" width="100%">
        </div>
    </div>
    <div class="col bg-danger p-1 m-4" style = "width: 50%; align-items: center; justify-content: center; display:flex;">
        <div class="inner-image bg-warning p-1">
            <img src="/images/dog.jpg" alt="dog" width="100%">
        </div>
    </div>
</div>